/* css selectors */
* {
    font-family: monospace;
}
body {
    font-size: 20px;
    border: 3px solid black;
}
h1, h2 {
    color: rgb(3, 133, 247);
}
p {
    color: gray;
}
.ib {
    font-weight: bold;
}
#caption {
    font-style: italic;
}
header h1 {
    text-align: center;
}
p span {
    text-transform: uppercase;
    background-color: blueviolet;
}

/* css colors */
body {
    background: papayawhip;
    color: rgb(0, 0, 255);
}
figcaption {
    color: rgba(255, 0, 0,  0.5);
}
.csscolor {
    color: #00FF00;
}

/* css units and sizes */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.dtc {
    width: 50%;
}
.tc {
    border: 2px dashed red;
    width: 50%;
    font-size: 2rem;
    padding: 0.3em;
    text-align: center;
}
.sp {
    font-size: 1rem; 
    width: 60ch;
}

/* css box model */
.tc1, .sp1 {
    border: 10px double purple; /* outset, double */
    font-size: 1.5rem;
    margin: 1.5em;
    padding: 1.5em;
    outline: 5px solid darkcyan;
    outline-offset: 3px;
}

/* css typography */
.pd {
    text-transform: capitalize;
    text-align: justify;
    text-indent: 5em;
    line-height: 1.5;
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
    /* text, font, word, letter, line, font-family 
    (times new roman, sans serif, monospace, curvisive, arial)
    font.google.com - list of font
    */
}

/* css style links */
/* follow the order - a,av,ah,aa*/
a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}
a:visited {
    color: purple;
}
a:hover, a:focus { /* when tab it will have a color=dodgerblue*/
    color: dodgerblue; /* opacity, other colors, transparent */
    background-color: gray;
}
a:active {
    color: red;
}







figcaption{
    font-weight: bold;
}